
# Project Configuration
PROJECT_NAME=starter-theme
PHP_PORT=8000


WP_ENV=development
WP_HOME=http://localhost:8000
WP_SITEURL=${WP_HOME}/wp



# MySQL Configuration
DB_NAME=nom_bdd
DB_USER=utilisateur
DB_PASSWORD=mot_de_passe
DB_HOST=db:3306
DB_ROOT_PASSWORD=root
# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
